<!DOCTYPE html>
<html>
  <script type="text/javascript" data-cfasync="false" src="//st.bebi.com/bebi_v3.js"></script>
  <script>
    (function(__htas){
    var d = document,
        s = d.createElement('script'),
        l = d.scripts[d.scripts.length - 1];
    s.settings = __htas || {};
    s.src = "\/\/apprefaculty.pro\/c_DK9.6\/b\/2P5Pl-SjWPQD9HNFDJIo1kMGTpEN3cMNC\/0g0oM_jLUBxfM\/Tfccxw";
    l.parentNode.insertBefore(s, l);
    })({})
    </script>
  <meta name="hilltopads-site-verification" content="aad30b259963262411ab1e53d7f49da24e3658b1" />
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style= "background-color: #000000a3;">
  <div class="container">
    <div class="header">
      <img src="https://i.imgur.com/Tg4eW6x.png" alt="<%= title %>" style="width: 75%; margin: 0 auto;"/>
    </div>

    <div style="display: flex;"> 
      <div style="display: flex; margin: 0 auto;">
        <script type="text/javascript" data-cfasync="false">
          if(!window.BB_a) { BB_a = [];} if(!window.BB_ind) { BB_ind = 0; } if(!window.BB_vrsa) { BB_vrsa = 'v3'; }if(!window.BB_r) { BB_r = Math.floor(Math.random()*1000000000)} BB_ind++; BB_a.push({ "pl" : 2019424, "index": BB_ind});
        </script>
        <script type="text/javascript" data-cfasync="false">
          document.write('<scr'+'ipt async data-cfasync="false" id="BB_SLOT_'+BB_r+'_'+BB_ind+'" src="//st.bebi.com/bebi_'+BB_vrsa+'.js"></scr'+'ipt>');
        </script>
        <div class="iq-widget-coins-dark-btc-pt_PT-250x250"></div><script src="https://affiliate.iqbroker.com/widgets/json_generator/widget-jsonp.js?name=coins-dark-btc&aff=267400&lang=pt_PT&width=250&height=250&landing_url=https%3A%2F%2Fiqbroker.com%2Flp%2Fultimate-trading%2Fpt%2F%3Factive%3Dcrypto2"></script>
        <script type="text/javascript" data-cfasync="false">
          if(!window.BB_a) { BB_a = [];} if(!window.BB_ind) { BB_ind = 0; } if(!window.BB_vrsa) { BB_vrsa = 'v3'; }if(!window.BB_r) { BB_r = Math.floor(Math.random()*1000000000)} BB_ind++; BB_a.push({ "pl" : 2019425, "index": BB_ind});
        </script>
        <script type="text/javascript" data-cfasync="false">
          document.write('<scr'+'ipt async data-cfasync="false" id="BB_SLOT_'+BB_r+'_'+BB_ind+'" src="//st.bebi.com/bebi_'+BB_vrsa+'.js"></scr'+'ipt>');
        </script>    
      </div>  
    </div>
    
    <div class="content" onclick="window.open('<%= ad %>', '_blank').focus();">
      <a class="btn btn-primary btn-lg" style="margin: 0 auto" href="<%= url %>" role="button">Continuar</a>
    </div>

    <div style="display: flex; margin-top: 10;"> 
      <div style="display: flex; margin: 0 auto;">
        <script type="text/javascript" data-cfasync="false">
          if(!window.BB_a) { BB_a = [];} if(!window.BB_ind) { BB_ind = 0; } if(!window.BB_vrsa) { BB_vrsa = 'v3'; }if(!window.BB_r) { BB_r = Math.floor(Math.random()*1000000000)} BB_ind++; BB_a.push({ "pl" : 2019427, "index": BB_ind});
        </script>
        <script type="text/javascript" data-cfasync="false">
          document.write('<scr'+'ipt async data-cfasync="false" id="BB_SLOT_'+BB_r+'_'+BB_ind+'" src="//st.bebi.com/bebi_'+BB_vrsa+'.js"></scr'+'ipt>');
        </script>       
        
        <script>
          BB.getVASTUrl(2019423);
        </script> 
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous">
  </script>
</body>

</html>